{% extends "about_layout.html" %}
{% block content %}
<body>
	<br>
	<br>
	<h2><center><b>Climate Plotter</b> is an unique search engine solely focused on pulling and plotting climate data.</center></h2>
	<br>
	<br>
	<br>
	<br>
	<center>
		<h4>As cities develop, so does the concern in drastic changes in climate.</h4>
		<h4>This application is a handy tool you can use to pull up climate statistics in form of a plotted graph.</h4>
		<h4>With data for over 4000 cities, this tool covers an extensive database.</h4>
	</center>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<small>Created by Vaishnavi Deshpande(vaishdesh2001@gmail.com)</small>
</body>
{% endblock content %}
	