{% extends "about_layout.html" %}
{% block content %}
<body>
	<br>
	<br>
	<h2><center><b>Climate Plotter</b> is a unique search engine solely focused on pulling and plotting climate data.</center></h2>
	<br>
	<br>
	<br>
	<br>
	<center>
		<h4>This helps anyone interested in understanding climatic conditions of a given city over the months in a year.</h4>
		<h4>With data for over 4000 cities, this tool covers a vast database.</h4>
	</center>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<small>Created by Vaishnavi Deshpande(vaishdesh2001@gmail.com)</small>
</body>
{% endblock content %}
	